img.slide {
  min-height: 200px;
  min-width: 200px;
  height: 80vw;
  object-fit: cover;
  margin-top: 50px;
  max-height: 80vh;
}
.card {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 35%;
}
/* @media (max-width: 575px) {
  .card {
    margin-left: 20%;
  }
} */
